# Datasets y backups
*.zip filter=lfs diff=lfs merge=lfs -text
*.sql filter=lfs diff=lfs merge=lfs -text
# Partidas de ajedrez grandes
*.pgn filter=lfs diff=lfs merge=lfs -text
# Notebooks pesados (opcional, evaluá si los outputs inflan mucho)
*.ipynb filter=lfs diff=lfs merge=lfs -text
